.top-bar {
    background-color: #00a2f9;
}

.container {
    /* display: flex; */
    min-height: 35px;
    align-items: center;
    /* justify-content: flex-end; */
    padding: 0 15px;
    margin: auto;
    width: 1200px;
}

.top-bar__item-list {
    display: flex;
    list-style: none;
    margin: 0;

}

.top-bar__item-list li {
    margin-right: 10px;
    font-size: var(--wp--preset--font-size--small);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-input {
    flex: 1;
    max-width: 500px;
}

.cart {
    display: flex;
}

.contact {
    display: flex;
}

.icon-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #0073e6;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.icon-circle svg {
    font-size: 20px;
    color: #fff;
}

.phone-content p {
    margin-right: 40px;
}

.category-bar {
    background-color: #f0f0f0;
    justify-content: center;
}

.category-bar__container {
    display: flex;
    justify-items: flex-start;
}


.title-category {
    display: block;
    padding: 14px 15px;
    background: #015ca2;
    color: #fff;
}

/* .title-category__list {
    list-style: none;
    margin-top: 0;
    padding: 0;
} */

.category-bar__container h3 {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
}

.list-title {
    display: flex;
    list-style: none;
    padding: 0 20px;
}

.list-title li {
    margin-right: 20px;
}

.title-item {
    margin: 0;
    font-weight: 500;
    color: #015ca2;
}

.down-icon {
    margin-left: 5px;
}